<div class="bootstrap-wrapper" *ngIf="!isSend">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!-- instrucciones -->
        <h3>Instrucciones</h3>
      </div>

      <!-- preguntas -->
      <div class="col-md-7">
        <ng-container *ngIf="questions">
          <h1 class="mt20">
            En curso <b>{{questions[0].exam.title}}</b>
          </h1>
        </ng-container>

        <!-- opciones -->
        <mat-card *ngFor="let p of questions;let i = index">
          <mat-card-content>
            <p><b>{{i+1}}) </b> <span [innerHTML]="p.content">{{p.content}}</span></p>
            <mat-divider></mat-divider>
            <div class="row mt20">
              <div class="col-md-7 mt10">
                <input [ngModel] ="p.answerGiven"  type="radio" [value]="p.option1" name= {{i}}>{{p.option1}}
              </div>
              <div class="col-md-7 mt10">
                <input [ngModel] ="p.answerGiven"  type="radio" [value]="p.option2" name= {{i}}>{{p.option2}}
              </div>
              <div class="col-md-7 mt10">
                <input [ngModel] ="p.answerGiven"  type="radio" [value]="p.option3" name= {{i}}>{{p.option3}}
              </div>
              <div class="col-md-7 mt10">
                <input [ngModel] ="p.answerGiven"  type="radio" [value]="p.option4" name= {{i}}>{{p.option4}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-10"></div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20">
          <button (click)="sendExam()" mat-raised-button color="primary">Enviar cuestionario</button>
        </div>

        <!-- barra de progreso -->
        <div class="col-md-3">
          <mat-card style="margin-top: 70px;">
            <mat-card-header>
              <mat-card-title>
                Temporizador
              </mat-card-title>
              <mat-card-subtitle>
                El cuestionario se enviará automáticamente cuando el temporizador llegue a 0:0
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h1 class="text-center">{{getFormatHour()}}</h1>
              <mat-spinner mode="determinate" style="margin:auto;" [value]="(timer/(this.questions.length * 2 * 60)*100)">
              </mat-spinner>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cuando sea enviado -->
<div class="bootstrap-wrapper" *ngIf="isSend">
  <div class="row mt20">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Resultado de la prueba
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <h1>Puntos conseguidos: {{pointsAchieved }}</h1>
          <h1>Respuestas Correctas: {{correctAnswers }}</h1>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button color="primary">Imprimir</button>
          <button mat-raised-button color="accent" [routerLink]="'/user/0'">Inicio</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
